// app global css in SCSS form
@font-face {
  font-family: "Nutmeg, Black";
  src: url("./font/Fontspring-DEMO-nutmeg-blackitalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
